@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.Core {
  background-color: #ffffff;
}

.Core-dark {
  background-color: #293742;
}

.App {
}

.home-background {
  height:65vh;
  margin-top: 1%;
  margin-left: -5%;
  margin-right: -5%;
  overflow: hidden;
  background-image: url("background.png");
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.page-wrapper {
  padding: 10px;
}

.widget-wrapper {
  width: 95%;
  margin: 1% 3% 3% 3%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding: 20px;
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.panel-wrapper {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.panel-wrapper .panel-card {
  flex: 0 0 30%;
  margin: 10px 0;
  text-align: center;
}

.panel-wrapper .panel-card-wide {
  flex: 0 0 90%;
  margin: 10px 0;
  height: 100%;
}

.offering-title > span {
  font-weight: normal;
  font-size: 0.85rem;
  color: #5C7080;
  float: right;
}

.bp3-panel-stack {
  min-height: 50vh;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.callout-spinner {
  margin-top: -25px;
  margin-right: -150px;
}