@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.Core {
  background-color: #ffffff;
}

.Core-dark {
  background-color: #293742;
}

.App {

}

.page-wrapper {
  padding: 10px;
}

.widget-wrapper {
  width: 50%;
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding: 20px;
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-wrapper {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-wrapper .category {
  flex: 0 0 30%;
  margin: 10px 0;
  text-align: center;
}

.bp3-panel-stack {
  min-height: 300px;
}